body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #696767;
    cursor: pointer;
}
.logo{
    height: 100%;
}

.nav-btn{
    background-color: black;
    border-radius: 50px;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
}